doctype html
link(rel='stylesheet' href='css/style.css')

head
    title Simple To-do App
body
    section
        h1 Simple To-do App
        form(action="js/main.js")
            label(for="newItem") Add a to-do item: 
            input(type="text" id="newItem" name="newItem")
            input(type="submit" value="Add")