@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf');
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FFF;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 20% 20% 60%;
}

h1 {
    margin: auto;
}

section {
    width: 50%;
    margin: auto;
}

section.list {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

section.list ul {
    overflow: auto;
}

/* Styles for the "Add a to-do item" section */

.newItem {
    text-align: center;
}

.newItem label {
    font-weight: bold;
}

.newItem input[type="text"] {
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 50px;
    border: 2px solid #000;
}

.newItem input[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: #a3e895;
    transition: background-color 400ms;
    color: #000;
    border: 2px solid #000;
}

.newItem input[type="submit"]:hover {
    background-color: #4FCC50;
    cursor: pointer;
}