@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf');
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FFF;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 20% 20% 60%;
}

h1 {
    margin: auto;
}

section {
    width: 50%;
    margin: auto;
}

section.list {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

section.list ul {
    overflow: auto;
}